<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Track</th>
      <th>Team</th>
      <th>Participant</th>
      <th>Email</th>
      <th>Course</th>
      <th>Score</th>
      <th>Certification Link</th>
      <th>Submitted</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>python</td>
      <td>Python Byte Riot</td>
      <td>Kapil</td>
      <td>kapi@blk.com</td>
      <td>codeacademy</td>
      <td>40.0</td>
      <td>Dox</td>
      <td>2018-12-11</td>
    </tr>
  </tbody>
</table>