<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>score</th>
    </tr>
    <tr>
      <th>email</th>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Deepak@blk</th>
      <th>Deepak</th>
      <td>10</td>
    </tr>
    <tr>
      <th>aishwarya.shukla@gmail.com</th>
      <th>Aishwar</th>
      <td>10</td>
    </tr>
    <tr>
      <th>Kapil@blk</th>
      <th>Kapil</th>
      <td>0</td>
    </tr>
    <tr>
      <th>aishwarya.shukla@gmail.com</th>
      <th>Aishwarya Shukla</th>
      <td>0</td>
    </tr>
    <tr>
      <th>bindu@blk</th>
      <th>Bindu</th>
      <td>0</td>
    </tr>
  </tbody>
</table>