<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>emp_topic</th>
      <th>emp_score</th>
      <th>emp_track</th>
      <th>emp_team</th>
    </tr>
    <tr>
      <th>emp_id</th>
      <th>emp_name</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th rowspan="2" valign="top">123.0</th>
      <th>aish</th>
      <td>alsjkdh</td>
      <td>sjkladh</td>
      <td>asljkdfh</td>
      <td>alskjdfh</td>
    </tr>
    <tr>
      <th>aishwarya</th>
      <td>code academycorseracode academycode academycod...</td>
      <td>8040080100808080808080</td>
      <td>PythonPythonPythonPythonPythonemp_trackemp_tra...</td>
      <td>Python TitansPython TitansPython TitansPython ...</td>
    </tr>
    <tr>
      <th>345.0</th>
      <th>Bindu</th>
      <td>corseracode academycode academy</td>
      <td>5001000123</td>
      <td>PythonPythonPython</td>
      <td>Python TitansPython TitansPython Titans</td>
    </tr>
    <tr>
      <th>895.0</th>
      <th>Viral</th>
      <td>code academy</td>
      <td>50</td>
      <td>Python</td>
      <td>Python Titans</td>
    </tr>
    <tr>
      <th>456.0</th>
      <th>Arun</th>
      <td>corsera</td>
      <td>450</td>
      <td>Python</td>
      <td>Python Titans</td>
    </tr>
    <tr>
      <th>234.0</th>
      <th>Kapil</th>
      <td>code academy</td>
      <td>100</td>
      <td>Python</td>
      <td>Python Titans</td>
    </tr>
    <tr>
      <th>123243.0</th>
      <th>prashant</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>