<!DOCTYPE html>
<html>
  <head>
    <title>PAG Puzzle: Level 1</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/main.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">

      <br>
      <form action="http://hkgmd1250276:59999/quest" method="post">
        <img src="static/img/questions.png" class="center" width="500" height="600"><br> <br>
        <input type="text" name=ans class="center" value="{{
          request.form.username }}"><br>
         <input type="hidden" id="q_id" name="q_id" value="1">
        <input  class="center" type="submit" value="Submit">
      </form>
      <!-- All that matters is here -->

      <!-- Find the Answer -->

      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
    <h6 style="font-size:15px;" align="right"> Leadership Board</h6>
<iframe src="http://hkgmd1250276:59999/leaderBoard" height="300" width="500" align="right" style="border:2px solid blue;"></iframe></td>
  </body>
</html>