<!DOCTYPE html>
<html>
  <head>
    <title>PAG Puzzle: Level 2</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>what is 2 + 3</h1>
      <br>
      <form action="http://hkgmd1250276:59999/quest" method="post">
        <input type="text" name="ans" value="{{
          request.form.username }}">
         <input type="hidden" id="q_id" name="q_id" value="2">
        <input class="btn btn-default" type="submit" value="Login">
      </form>


      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
  <td><h3 style="font-size:48px;"> Leadership Board</h3>
<iframe src="http://hkgmd1250276:59999/leaderBoard" height="300" width="500" style="border:2px solid blue;"></iframe></td>
  </body>
</html>